# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.104-csharp-unity.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
